.main {
  font-family: "Roboto";
  color: #4a5a27;
  padding: 40px;
}

.mainHeader {
  margin: 0 auto;
  text-align: center;
}
h2 {
  font-size: 30px;
  margin: 0 auto 20px;
  text-align: center;
  color: #4a5a27;
}

.container {
  width: 700px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #556b24;
  background-color: #ffdab9;
  padding: 40px;
  margin: 20px auto;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.btn {
  background-color: #e97451;
  color: #ffdab9;
  border: 0;
  border-radius: 10px;
  font-weight: 600;
  width: 100px;
  height: 35px;
  transition: border-color 0.3s ease;
}

.btn:hover {
  outline: none;
  border: 2px solid #f6a085;
}
.btn:focus {
  outline: none;
  border: 2px solid #f6a085;
}
